<script>
    let clickCounter = 0;
    function addToCart() {
        // Increment the counter
        clickCounter++;

        // Update the counter in the span element
        document.getElementById('counter').innerText = clickCounter;

        // Add your additional logic for adding the item to the cart here
        // For example, you can make an AJAX request to update the cart on the server.
        console.log("Item added to cart!");
    }
</script>
</body>

</html>